/* PROPRIETA' COMUNI  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.button {
    padding: 8px 10px;
    border-radius: 40px;
    cursor: pointer;
    
    
}

.btnWhite {
    border: 1px solid white;
    background-color: white;
    color: black;

}

.btnBlack {
    border: 1px solid #23272a;
    background-color: #23272a;
    color: white;

}

.d-flex {
    display: flex;
}
.j-center {
    justify-content: center;
}

.d-flex > .button {
    margin: 10px;
}

.px-20 {
    padding: 8px 20px;

}
/* PROPRIETA' HEADER  */

 header {
    background-color: #2d5fe5;
    display: flex;
	flex-direction: column; 
	justify-content: space-between;
	flex-wrap: wrap;
    margin: auto;
}

/* CONTENUTO HEADER + NAV  */

.menu-item > a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.menu {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: nowrap;
    width: 50%;
    align-items: center;
    
    
}

.menu-item {
	padding: 0 20px;
}

.flexcontainertop {
    background-color: #3161e0;
    display: flex;
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap;
    width: 60%;
    height: 2em;
    margin: 30px auto;
    
}

.logo, .login {
    width: 25%;
    display: flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: wrap;
    align-self: center;
    
}

.logo {
    justify-content: flex-start;
    padding-left: 10px;
    cursor: pointer;
}

.login {
    justify-content: flex-end;
    padding-right: 10px;

    
}



.flexcontainermain {
    display: flex;
    width: 100%;
    margin: 0px auto;
    height: 500px;
    align-items: center;
}

.maincontent {

    width: 40%;
    margin: 30px auto;
}

/* FINE CONTENUTO HEADER */

/* ICONE */

.longArrow::before{
    content: "";
    display: block;
    background: url('../img/down-long.svg') center no-repeat;
    background-size: auto;
    width: 27px;
    height: 20px;
    float: left;
    background-size: 9px;
}

/* CONTENUTI DI SFONDO */

.headerContent {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-position: center;
}

.whiterow {
    background-color: white;
}

.greyrow {
    background-color: #d3d3d3;
}

/* COLORI BOX CONTENUTO */

.bluebox {
    background-color: #1e90ff;
    width: 60%;
}

.pinkbox {
    background-color: #ffc0cb;
    width: 40%;
}

.greenbox {

    background-color: #228b22;
    height: 620px;
    width: 50%;
    margin: 30px auto;

}

/* CONTENITORE FLEX */

.contentflexbox {
    display: flex;
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap;
    width: 50%;
    height: 370px;
    margin: 0 auto;
}



.bigflexcontainer {
    display: flex;
    height: 680px;
    width: 100%;

}

/* PROPRIETA' FOOTER */

.footercontainermain {

    display: flex;
    width: 50%;
    margin: 5px auto 30px auto;

}

.leftbox {
    background-color: #f08080;
    height: 450px;
    width: 33%;
}

.rightbox {
    background-color: #20b2aa;
    height: 450px;
    width: 67%;
    display: flex;
    flex-direction: row;
}

.flexrow {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

hr {
    color: 1px solid grey;
}

.footerend {
    display: flex;
    width: 50%;
    margin: 30px auto 0 auto;
    background-color: #7fffd4;
    height: 50px;
    justify-content: space-between;
    align-items: center;

}

.rightbutton, .leftbutton {
    background-color: #ffb6c1;
    align-self: center;
    padding: 5px;

}

/* ELEMENTI DI TESTO */

h1 {
    
    font-size: 50px;
    padding-top: 50px;
    
}

.centered {
    text-align: center;
}

.topParagraph {
    padding-top: 40px;
    font-size: 16px;
    line-height: 2rem;
    font-weight: 600;
    
}