/* PROPRIETA' COMUNI  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.button {
    padding: 8px 10px;
    border-radius: 40px;
    cursor: pointer;
    
    
}

.btnWhite {
    border: 1px solid white;
    background-color: white;
    color: black;

}

.btnBlack {
    border: 1px solid #23272a;
    background-color: #23272a;
    color: white;

}

.btnPurple {
    border: 1px solid #8ea1e1;
    background-color: #8ea1e1;
    color: white;
    margin-top: 30px;
}

.d-flex {
    display: flex;
}

.d-inlineBlock {
    display: inline-block;
}
.j-center {
    justify-content: center;
}

.j-spaceIcons {
    justify-content: space-around;
    width: 40%;
    filter: invert(1);
}

.d-flex > .button {
    margin: 10px;
}

.px-20 {
    padding: 8px 20px;

}

.pt-36 {
    padding-top: 36px;

}

.w-60 {
    width: 60%;
    min-height: 300px;
}
.w-40 {
    width: 40%;
}

.w-100 {
	width: 100%;
}

.my-30 {
    margin: 30px auto;
}

/* PROPRIETA' HEADER  */

 header {
    background-color: #2d5fe5;
    display: flex;
	flex-direction: column; 
	justify-content: space-between;
	flex-wrap: wrap;
    margin: auto;
}

/* CONTENUTO HEADER + NAV  */

.menu-item > a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.menu {
	display: flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: nowrap;
    width: 50%;
    align-items: center;
    
    
}

.menu-item {
	padding: 0 20px;
}



.logo, .login {
    width: 25%;
    display: flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: wrap;
    align-self: center;
    
}

.logo {
    justify-content: flex-start;
    padding-left: 10px;
    cursor: pointer;
}

.login {
    justify-content: flex-end;
    padding-right: 10px;

    
}







/* FINE CONTENUTO HEADER */

/* ICONE */

.longArrow::before{
    content: "";
    background: url('../img/down-long.svg') center no-repeat;
    width: 27px;
    height: 20px;
    float: left;
    background-size: 9px;
}

.longArrowWhite::before{
    content: "";
    background: url('../img/down-long.svg') center no-repeat;
    width: 27px;
    height: 20px;
    float: left;
    background-size: 9px;
    filter: invert(1);
}

/* CONTENUTI DI SFONDO */

.headerContent {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-position: center;
}

.whiterow {
    background-color: white;
}

.greyrow {
    background-color: #f6f6f6;
    /* background-image: url(../img/wave.svg); */
    /* border-image: url('../img/wave.svg') 30; */
}

.mainFirstImage {
    background-image: url(../img/item1.svg);
    
}

.mainSecondImage {

    background-image: url(../img/item2.svg);

}

.mainThirdImage {
    background-image: url(../img/item3.svg);
}

#stars {
    background-image: url(../img/stars.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 402px;
  margin-bottom: -18px;
}



.centeredImg {
    width: 100%;
    
}

.mainBlackContent {
    padding: 23px;
    color: black;
}

.d-flex > img {
    width: 15px;
    height: 15px;
}

/* BOX CONTENUTO */

.mainImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
}


.greenbox {

    height: 620px;
    width: 50%;
    margin: 30px auto;

}

/* CONTENITORE FLEX */

.flexcontainermain {
    display: flex;
    width: 100%;
    margin: 0px auto;
    height: 500px;
    align-items: center;
}

.flexcontainertop {
    background-color: #3161e0;
    display: flex;
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap;
    width: 60%;
    height: 2em;
    margin: 30px auto;
    
}

.contentflexbox {
    display: flex;
	/* flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap; */
    width: 50%;
    margin: 0 auto;
}

.contentflexboxColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}


.bigflexcontainer {
    display: flex;
    height: 680px;
    width: 100%;

}

.flex-container {
	display: flex;
    flex-direction: column;
	max-width: 1100px;
	margin: 0 auto;
	min-height: 300px;
	padding: 64px 0;
    align-items: center;
}

/* PROPRIETA' FOOTER */

footer {
    background-color: #23272a;
}
.footercontainermain {

    display: flex;
    width: 50%;
    margin: 5px auto 30px auto;

}

.leftbox {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0px auto;
    height: 450px;
}

.rightbox {
    height: 450px;
    width: 67%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexrow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    align-items: flex-start;
}

hr {
    color: 1px solid grey;
}

.footerend {
    display: flex;
    width: 50%;
    margin: 30px auto 0 auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;

}

.rightbutton, .leftbutton {
    background-color: #ffb6c1;
    align-self: center;
    padding: 5px;

}

.leftbutton {
    border: 1px solid #8ea1e1;
    background-color: #8ea1e1;
    align-self: center;
    padding: 8px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;

}

/* ELEMENTI DI TESTO */

h1 {
    
    font-size: 50px;
    padding-top: 50px;
    
}

.s-30px {
    font-size: 30px;
}

h5 {
    padding: 5px;
}

#languageIcon {
    font-size: 15px;
    display: inline-block;
    padding: 10px 0;
}

#languageIcon::before{
    content: "";
    background: url('../img/ita.png') center no-repeat;
    width: 27px;
    height: 20px;
    float: left;
    background-size: 16px;
}

.arrowDown {
    width: 10px;
    height: 10px;
    display: inline-block;
    filter: invert(1);
}




#purpleText {
    color: #7289da;
}

.centered {
    text-align: center;
}

.topParagraph {
    padding-top: 40px;
    font-size: 16px;
    line-height: 2rem;
    font-weight: 600;
    
}

.mainParagraph {
    padding-top: 20px;
}

.mainTitle {

    font-size: 40px;

}



